<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyGrid - Manutenção de Notícias</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class='container'>
        <main>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/mygrid">  
                    <i class="fas fa-backspace"></i>
                    ADMIN
                  </a>
                </div>
              </nav>
              
            <br>

            <h3>Excluir Notícia</h3>

            <br>

            <form action="" method="post">
                <label for="titulo">Título:</label>
                <input disabled class="form-control " type="text" name="titulo" id="titulo" placeholder="<%=dados.titulo%>"><br>
                <label for="texto">Texto:</label>
                <textarea disabled class="form-control form-control-sm" name="texto" id="texto" cols="30" rows="10" ><%=dados.texto %></textarea><br>
            </form>

            <!--
                <a href="/mygrid">
                    <button class="btn btn-outline-danger">Cancelar</button>
                </a>

                <a href="/excluir_mygrid?id=<%=dados._id%>">
                    <button class="btn btn-outline-success">Excluir</button>
                </a>
            -->
                <br>
                
                <button class="btn btn-outline-danger" onclick="window.location.href='/mygrid'">Cancelar</button>
                <button class="btn btn-outline-success" onclick="window.location.href='/excluir_mygrid?id=<%=dados._id%>'">Excluir</button>
                
                
            
           
        </main>
    </div>
</body>

</html>